<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>{{ carId ? 'Modification du véhicule numero ' + carId : 'Creation d\'un nouveau véhicule' }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="brand" class="col-sm-2 col-form-label">Marque</label>
          <div class="col-sm-10">
            <input id="brand" formControlName="brand" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label for="model" class="col-sm-2 col-form-label">Modele</label>
          <div class="col-sm-10">
            <input id="model" formControlName="model" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label for="color" class="col-sm-2 col-form-label">Couleur</label>
          <div class="col-sm-10">
            <input id="color" formControlName="color" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label for="garageId" class="col-sm-2 col-form-label">Garage</label>
          <div class="col-sm-10">
            <select id="garageId" formControlName="garageId" class="form-control">
              <option *ngFor="let garage of garages" [value]="garage.id">{{ garage.name }}</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="carForm.invalid">Soumettre</button>
      </form>
    </div>
    <div class="col-md-6">
      <div class="validation-panel">
        <h5>Erreurs de validation</h5>
        <div *ngIf="carForm.invalid && carForm.touched">
          <div *ngIf="carForm.get('brand')?.invalid && carForm.get('brand')?.touched" class="validation-message">
            La marque est obligatoire.
          </div>
          <div *ngIf="carForm.get('model')?.invalid && carForm.get('model')?.touched" class="validation-message">
            Le modèle est obligatoire.
          </div>
          <div *ngIf="carForm.get('color')?.invalid && carForm.get('color')?.touched" class="validation-message">
            La couleur est obligatoire.
          </div>
          <div *ngIf="carForm.get('garageId')?.invalid && carForm.get('garageId')?.touched" class="validation-message">
            Le garage est obligatoire.
          </div>
        </div>
        <div *ngIf="carForm.valid">
          Aucune erreur
        </div>
      </div>
    </div>
  </div>
</div>
